body {
    background-color: #e8e9ea;
}

.corpo {
    width: 95%;
    max-width: 1480px;
    margin: 10px auto;
    background-color: #f8f7f7;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}


.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.header h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #2E4666;
}


.botaoVoltar {
    position: absolute;
    left: 20px;
    width: 45px;
    height: 45px;

    border-radius: 8px;
    border: 1px solid #d1d5db;

    background-color: #406fcd;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.2s;
}

.botaoVoltar:hover {
    transform: scale(1.05);
    background-color: #5d8df0;
}
.btnVoltar {
    margin-right: 3px;
    width: 75px;
    height: 45px;
}

.filtroContainer {
    display: flex;
    justify-content: left;
    margin-left: 23px;
    
}

#filtroPeriodo {
    height: 42px;

    padding: 0 14px;

    border-radius: 10px;

    border: 1px solid #D1D5DB;

    background: white;

    font-size: 15px;

    font-weight: 500;

    color: #1E293B;

    cursor: pointer;
}

.graficos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.graficoCard {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    min-height: 260px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);

    border: 1px solid #edf0f3;
}

.graficoCard h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #2E4666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


.pizzaCard {
    display: flex;
    flex-direction: column;
}

.pizzaConteudo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    height: 100%;
}

.graficoPizza {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-family: 'Poppins', sans-serif;
}

.itemLegenda {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

.infoLegenda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bolinha {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.valorLegenda {
    font-weight: bold;
}

.totalLegenda {
    margin-top: 20px;
    padding-top: 15px;

    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: bold;
}

.legendaCustom {
    width: 260px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    font-family: 'Poppins', sans-serif;
}

.graficoPizza canvas {
    max-width: 190px;
    max-height: 190px;

    margin: 0 auto;
}

/*METAS*/
.metasContainer {
    margin: 0 20px 20px 20px;
    background-color: white;

    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
    border: 1px solid #edf0f3;

}

.tituloMetas {
    margin-bottom: 25px;
    color: #2E4666;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.listaMetas {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.metaCard {
    flex: 1;
    min-width: 500px;
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
}

.metaCard:first-child::after{
    content: "";

    position: absolute;

    right: -12px;

    top: 10%;

    width: 1px;

    height: 80%;

    background-color: #E5E7EB;
}

.metaIcone {
    min-width: 85px;
    width: 68px;
    height: 68px;
    border-radius: 18px;

    background-color: #EEF2F7;
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 34px;
}

.metaInfo {
    flex: 1;
}

.metaNome {
    font-size: 18px;
    font-weight: bold;
    color: #1E293B;
    margin-bottom: 14px;
    font-family: 'Segoe UI', sans-serif;
}

.metaLinha {
    display: flex;

    align-items: center;

    gap: 18px;

    margin-bottom: 12px;
}

.barraMeta {
    flex: 1;

    height: 18px;

    background-color: #E5E7EB;

    border-radius: 999px;

    overflow: hidden;
}

.progressoMeta {
    height: 100%;

    background: linear-gradient(90deg, #22C55E, #4ADE80);

    border-radius: 999px;

    display: flex;

    align-items: center;

    justify-content: flex-end;

    padding-right: 10px;

    color: white;

    font-weight: bold;

    font-size: 14px;
}

.metaValores {
    min-width: 180px;

    font-size: 22px;

    font-weight: bold;
}

.valorAtual {
    color: #22C55E;
}

.valorObjetivo {
    color: #64748B;
}

.metaFaltando {
    color: #6B7280;

    font-size: 18px;
}

.metaRodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.btnAdicionarMeta {
    border: none;
    background: #22C55E;
    color: white;

    flex: 1;
    padding: 10px 16px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 14px;
    font-weight: bold;

    transition: 0.2s;
}

.btnAdicionarMeta:hover {
    background: #16A34A;
    transform: scale(1.03);
}


.acoesMeta{

    display: flex;

    gap: 10px;

    margin-top: 12px;

}


.btnResgatarMeta{

    border: none;

    background: #3B82F6;

    color: white;

    flex: 1;

    padding: 10px 16px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 14px;

    font-weight: bold;

    transition: .2s;

}

.btnResgatarMeta:hover{

    background: #2563EB;

    transform: scale(1.03);

}


.btnExcluirMeta{

    border: none;

    background: #EF4444;

    color: white;

    width: 42px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 18px;

    transition: .2s;

}

.btnExcluirMeta:hover{

    background: #DC2626;

    transform: scale(1.05);

}


.modalMeta {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.conteudoModalMeta {

    background: white;

    padding: 25px;

    text-align: center;

    border-radius: 16px;

    width: 350px;

    display: flex;

    flex-direction: column;

    gap: 18px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.conteudoModalMeta h3 {

    margin: 0;

    color: #1E293B;
}

.conteudoModalMeta input {

    height: 45px;

    border-radius: 10px;

    border: 1px solid #D1D5DB;

    padding: 0 12px;

    font-size: 16px;
}

.botoesModal {

    display: flex;

    justify-content: flex-end;

    gap: 10px;
}

.botoesModal button {

    border: none;

    padding: 10px 16px;

    border-radius: 10px;

    cursor: pointer;

    font-weight: bold;
}

#cancelarMeta {

    background: #E5E7EB;
}

#salvarMeta {

    background: #22C55E;

    color: white;
}


.iconeExcluir{

    width:70px;
    height:70px;

    margin:0 auto 20px;

    border-radius:50%;

    background:#FEE2E2;

    color:#DC2626;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

}

.textoExcluir{

    color:#6B7280;

    text-align:center;

    margin:10px 0 5px;

}

.nomeMetaExcluir{

    text-align:center;

    font-weight:700;

    color:#111827;

    margin-bottom:25px;

    font-size:18px;

}

.btnCancelarExcluir{

    flex:1;

    background:#F3F4F6;

    border:none;

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

}

.btnCancelarExcluir:hover{

    background:#E5E7EB;

}

.btnConfirmarExcluir{

    flex:1;

    background:#DC2626;

    color:white;

    border:none;

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

}

.btnConfirmarExcluir:hover{

    background:#B91C1C;

}


.indicadores{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    padding:20px;

}

.indicadorCard{

    background:white;

    border-radius:18px;

    padding:24px;

    display:flex;

    gap:18px;

    align-items:center;

    border:1px solid #edf2f7;

    box-shadow:0 8px 24px rgba(0,0,0,.06);

    transition:.25s;

}

.indicadorCard:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 30px rgba(0,0,0,.08);

}

.iconeIndicador{

    width:68px;

    height:68px;

    border-radius:18px;

    background:linear-gradient(135deg,#dbeafe,#eff6ff);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

}

.tituloIndicador{

    margin:0;

    color:#64748B;

    font-size:14px;

    font-family:'Segoe UI',sans-serif;

}

.indicadorCard h3{

    margin:6px 0;

    color:#1E293B;

    font-size:24px;

    font-family:'Segoe UI',sans-serif;

}

.indicadorCard small{

    color:#64748B;

    font-size:14px;

}

.headerMetas{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.btnNovaMeta{

    border:none;

    background:#3B82F6;

    color:white;

    padding:12px 20px;

    border-radius:10px;

    font-family:'Segoe UI',sans-serif;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.2s;

    box-shadow:0 4px 10px rgba(59,130,246,.20);

}

.btnNovaMeta:hover{

    background:#2563EB;

    transform:translateY(-2px);

}




@media (max-width: 900px) {

    .graficos {
        grid-template-columns: 1fr;
    }

    .pizzaConteudo {
        flex-direction: column;
    }

    .legendaCustom {
        width: 100%;
    }

    .indicadores{
        grid-template-columns:1fr;

    }

}